---
import { Image } from 'astro:assets';
import lmasa from '/src/assets/lmasa.svg';
import linkedIn from '/src/assets/linkedin.png';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Page :)</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #0a1d48;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        /* Responsive design for smaller screens */
        @media (max-width: 600px) {
            .container {
                max-width: 90%;
                padding: 10px;
            }
            h1 {
                font-size: 1.5em;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Tap the logo to leave Jose (and La Masa) a review!</h1>
        <a href="https://www.google.com/maps/place//data=!4m3!3m2!1s0x8805191dfaf94a17:0x8e6e187c28d6326c!12e1?source=g.page.m._&laa=merchant-review-solicitation">
            <Image src={lmasa} alt="Lmasa Image" width="300" height="300" />
        </a>
        <p>Thank you for coming! Hope you enjoyed the food and service :)</p>
        <p>Ask about our Par-Bake Platters, Gift Cards and our LAB Box wine!</p>
        <p>-------------------------------------------</p>
        <p>Computer Science grad since May. I appreciate any advice and all connections!</p>
        <a href="https://www.linkedin.com/in/jtrinidadrodriguez/">
            <!-- Use explicit width and height here -->
            <Image src={linkedIn} alt="LinkedIn Image" width="60" height="60" />
		</a>
		
    </div>
</body>
</html>
